

body {
    background-image: url(../assets/background.png);
}
main{
    background-color: #fbf1e8;
    padding: 10px 20 px 10 px 20 px;
}
.title {
    color: #495cb0
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.color-yellow {
    color: #fac55a
}

.color-orange {
    color: #f78470

}