body {
    background-image: url(../assets/background.png);
}

main {
    background-color: #FBF1E8;
    padding: 10px 20px 10px 20px;
    margin: 30px;
}

.title {
    color: #495cb0;
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.color-yellow {
    color: #FAC55A;
}

.color-orange {
    color: #F78470;
}
