body {
    background-image: url(../assets/background.png);
}

.title {
    color: #495cb0
    text-transform: uppercase
}

.text-uppercase {
    color: #faC55a;
    text-transform; uppercase
}

.text-uppercase{
    color

}